<!-- Inicio de landing -->
<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <img class="img-fluid" src="assets/funnel-click-jordan/img1.gif" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <img class="img-fluid" src="assets/funnel-click-jordan/envio2.gif" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <img class="img-fluid" src="assets/funnel-click-jordan/jordan1.png" alt="">
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12">
            <img class="img-fluid" src="assets/funnel-click-jordan/off3.gif" alt="">
        </div>
    </div>


    <div class="row mt-1">
        <div class="col-12">
            <img class="img-fluid" src="assets/funnel-click-jordan/video5.gif" alt="">
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12">
            <img class="img-fluid" src="assets/funnel-click-jordan/tallas6.gif" alt="">
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12">
            <img class="img-fluid" src="assets/funnel-click-jordan/estrellas4.gif" alt="">
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12">
            <img class="img-fluid" src="assets/funnel-click-jordan/5.gif" alt="">
        </div>
    </div>

</div>
<!-- Fin de landing -->

<!-- Inicio de carrito y formulario -->
<app-cart-form [producto-input]="marketService.producto"
               [clickstoreProducto]="clickstoreProducto"
               [wsnumber]="wsnumber"></app-cart-form>
<!-- Fin de carrito y formulario -->
<!-- Inicio del footer -->
<app-footer></app-footer>
<!-- Fin del footer -->
